# Puppet
/pkg
/.rspec_system
/.bundle
/vendor
/Gemfile.lock
/junit
/log
.yardoc
coverage
TODO

# Node.js with Express and Stlyus
public/css/*.css
public/css/main/*.css
public/css/admin/*.css
/.monitor

# Eclipse
/.project
/.settings
/.buildpath

# Sublime
*.sublime-project
*.sublime-workspace

# Windows
Thumbs.db

# Ignore this in Clock Harness projects because it is created by the build system.
/Config/vhost.conf

# Vim
.*.sw[a-z]
*.un~i
tags

# OsX
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# nodejs npm modules
/node_modules

# node-cluster
/pids
*.sock

# ZSH Cake plugin cache
/.cake_task_cache

# Vagrant
.vagrant/
centos*/local/puppet/
!centos*/local/puppet/.gitkeep
centos*/local/repository/
!centos*/local/repository/.gitkeep
centos*/local/storage/
!centos*/local/storage/.gitkeep
centos*/local/tmp/
!centos*/local/tmp/.gitkeep

ubuntu-*/local/puppet/
!ubuntu-*/local/puppet/.gitkeep
ubuntu-*/local/repository/
!ubuntu-*/local/repository/.gitkeep
ubuntu-*/local/storage/
!ubuntu-*/local/storage/.gitkeep
ubuntu-*/local/tmp/
!ubuntu-*/local/tmp/.gitkeep

# Packer
*.box
packer_cache

# Kodi
cache/
kodi-content.html
videodb.xml

# rpmbuild
BUILD/
BUILDROOT/
RPMS/noarch/*.rpm
RPMS/x86_64/*.rpm
SRPMS/*.src.rpm
SOURCES/*.tar.gz
tmp/

# Jekyll
_site
.sass-cache
.jekyll-metadata
.tweet-cache
.tweetsert-cache

# Docker
ppd/
